*{
    font-size: 70%;
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    position: relative;
}
.startHead h2{
    margin-top: 3rem;
    font-size: 3rem;
}
.startHead h1{
    font-size: 12rem;
}
.mainButtonFlex{
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
}
/* INSTRUCTION POP UP */
.instructions{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .85);
    display: block;
}
.instructionsShow{
    display: none;
}
.instructions div{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 20%;
    font-size: 3rem;
    padding: 2rem;
}
.instructionsClose{
    font-size: 3rem;
    padding: 1rem;
}
/* OPTIONS POP UP */
.options{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .85);
    display: block;
}
.optionsShow{
    display: none;
}
.options div{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 20%;
    font-size: 3rem;
    padding: 2rem;
}
.optionsClose{
    font-size: 3rem;
    padding: 1rem;
}




footer{
    margin-top: 15rem;
}


















/* 

///////////////////////////////////////
///////////////////////////////////////
Hut Page
 */

.hut{
    font-size: 10rem;
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    display: block;
}
.hutShow{
    display: none;
}




/* 



////////////////////////////////////
////////////////////////////////////
battle page  */

.battle{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    /* background-image: url('https://lh3.googleusercontent.com/proxy/O02F3RHijjmv1B-wZnr_RnG22gqi1C8YnLBLFNfFH4WqhYAtI1VaBk3azzIB4UvgrH8UxCeAaI7AWevkOXwISsnUi2U2OkTxAFYy23PDOZik_vCcSCcJkrre6E2j_ezoA4gTzzNF'); */
    background-size: cover;
    display: block;
}
.battleDiv{
    background-color: white;
    height: 20rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 25%;
    font-size: 5rem;
}
.battleRetreatBtn{
    padding: 1rem;
    background: red;
}
.battleShow{
    display: none;
}
.battleScene img{
    width: 20rem;
    height: 20rem;
}
.battleBadWiz{
    position: absolute;
    left: 0;
    bottom: 0;
}
.battleGoodWiz{
    position: absolute;
    right: 0;
    bottom: 0;
}
.battleBadHealth{
    background-color: white;
    width: 20rem;
    height: 5rem;
    position: absolute;
    left: 0;
    bottom: 28%;
    font-size: 4rem;
}
.battleBadHealth p{
    font-size: 5rem;
}
.battleGoodHealth p{
    font-size: 5rem;
}
.battleGoodHealth{
    background-color: white;
    width: 20rem;
    height: 5rem;
    position: absolute;
    right: 0;
    bottom: 28%;
    font-size: 4rem;
}


/* 

////////////////////////////////////
////////////////////////////////////
killed enemy  */

.killedEnemy{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .85);
    display: block;
}
.killedEnemy div{
    background-color: white;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    font-size: 10rem;
    padding: 5rem;
}
.killedEnemyBtn{
    font-size: 5rem;
    padding: 1rem;
}
.killedEnemyShow{
    display: none;
}

/* /////////////////////////////////////////////
////////////////////////////////////////////// 
loss window
*/

.loss{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .85);
    display: block;
}
.loss div{
    background-color: white;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    font-size: 10rem;
    padding: 5rem;
}
.lossShow{
    display: none;
}




/* 

////////////////////////////////////
////////////////////////////////////
game won  */



.youWin{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .85);
    display: block;
}
.youWin div{
    background-color: white;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    font-size: 10rem;
    padding: 5rem;
}
.youWinShow{
    display: none;
}

















