/* 'Acme'
'Source Code Pro'
*/
:root {
    --darkNavy: #25274D;
    --darkGrey: #464866;
    --lightGrey: #AAABB8;
    --lightBlue: #2E9CCA;
    --darkBlue: #29648A;
}
*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Source Code Pro', sans-serif;
    box-sizing: border-box;
}
body{
    width: 90%;
    margin: 0 auto;
    background-color: var(--darkNavy);
}
/* Title */ 
.title h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: var(--lightGrey)
}
.title h3{
    font-size: 2rem;
    text-align: center;
    color: var(--darkBlue);
}
/* nav bar */

.navNavigation{
    font-size: 7rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navNavigation li{
    padding: 0;
    margin: 0;
}
.navNavigation button{
    font-family: 'Acme', sans-serif;
    background-color: var(--darkNavy);
    color: var(--lightGrey);

    border: none;
    padding: 2rem;
    border-radius: 5rem;
}
.navNavigation button:hover{
    background-color: var(--lightGrey);
    color: var(--darkNavy);
    cursor: pointer;
}
/* header */
header img{
    width: 100%;
    height: 34rem;
    margin: 0 auto;
    border-radius: 10px;
}
header{
    max-width: 55rem;
    border-top: 1px solid black;
    padding-top: 1rem;
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: left;
    position: relative;
    margin: 0 auto;
}
header p{
    position: absolute;
    top: 15%;
    left: 7%;
    right: 5%;
    color: var(--lightBlue)
}
/* Project Carousel */
.projectCarousel{
    background-color: var(--lightGrey);
    border-radius: 4rem;
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.projectCarousel h2{
    padding: .5rem;
    text-align: center;
    font-size: 2.3rem;
    color: var(--darkNavy);
}
.slide{
    font-size: 3rem;
    text-align: center;
    display: none;
}
.slide a{
    font-size: 2rem;
}
.slide button{
    font-size: 2rem;
    background-color: var(--darkGrey);
    color: var(--lightGrey);
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    
}
.slide button:hover{
    box-shadow: 4px 4px 5px var(--lightBlue);
    cursor: pointer;
    color: var(--lightBlue);
}
.carouselArrows{
    display: flex;
    justify-content: space-evenly;
    font-size: .4rem;
}
.carouselArrows p{
    font-size: 15em;
}
.carouselArrows p:hover{
    cursor: pointer;
}


/* Project Section */
.projects{
    background-color: var(--darkGrey);
    max-width: 130rem;
    margin: 0 auto;
}
.projects h2{
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
    color: var(--lightBlue);
}
.projectsFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projectsDiv{
    text-align: center;
    position: relative;
    border-radius: 2rem;
    max-width: 20%;
    min-width: 20%;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 3rem;
    background-color: var(--darkBlue)
}
.projectsDiv:hover{
    box-shadow: 5px 5px 10px black;
}
.projectsDiv a{
    font-size: 2rem;
}
.projectsDiv button{
    font-size: 2rem;
    background-color: var(--lightGrey);
    color: var(--darkBlue);
    padding: .7rem;
    margin: 1rem;
    border-radius: 5rem;
}
.projectsDiv button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 1px 1px 12px black;
}
@media (min-width: 700px){
    /* nav bar */
    .navNavigation{
        position: sticky;
        top: 0px;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 6rem;
    }
    .navNavigation li{
        margin: 0 2rem;
    }
    /* header */
    /* Project Divs Section */
    .projectsFlex{
        display: flex;
    }
    .projectsDiv{
        width: 30%;
    }

}

@media (min-width: 1150px){
    /* title  */
    .title h1{
        font-size: 9rem;
    }
    .title h3{
        font-size: 5rem;
    }
    /* navbar */
    .navNavigation{
        font-size: 15rem;
    }
    .headerBorderless{
        width: 45%;
        height: 30rem;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
        text-align: left;
        position: relative;
        border-radius: 10px;
        border: 3px solid var(--lightGrey);
    }
    .headerBorderless img{
        height: 100%;

    }
    .headerBorderless p{
        font-size: 1.8rem;
    }
    .projectCarousel{
        width: 45%;
        height: 30rem;
        border-radius: 10px;
        margin: 0;
        padding: 0;
    }
    .slide{
        font-size: 3.2rem;
    }
    .websiteFlex{
        display: flex; 
        justify-content: space-evenly;
        max-width: 170rem;
        margin: 0 auto;
    }
}










